body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 12px;
}

h1 {
  color:black;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color:black;
  text-align: center;
  margin-bottom: 10px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}



input, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding-left: 0;
}



li {
  background-color:blue;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li button {
  background-color: #e53935;
}

li button:hover {
  background-color: #d32f2f;
}

.filter-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
